include/etc/xml/ddi-lifecycle/3.2/instance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright (c) 2014 DDI Alliance, DDI 3.2 release, 2014-02-05

This file is part of DDI 3.2 XML Schema.

DDI 3.2 XML Schema is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

DDI 3.2 XML Schema is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
for more details.

You should have received a copy of the GNU Lesser General Public License along
with DDI 3.2 XML Schema. If not, see <http://www.gnu.org/licenses/>.

-->
<!--
Documentation of the DDI specification is provided in three ways:

<A HREF="http://www.ddialliance.org/Specification/DDI-Lifecycle/3.2/XMLSchema/FieldLevelDocumentation/index.html">Field Level Documentation</A>
AUDIENCE: Developers, database developers, mappings, base level for content providers (what an object is in relation to parent and child elements)
This documentation is found within the DDI Schemas and displayed in the HTML documentation. It provides a brief description of the purpose and content of the object. Documentation found in the complex Type description will provide more detail than the element documentation. Within a complex type, the additional documentation of sub-elements will focus on its purpose within the context of the complex type. 

<A HREF="http://www.ddialliance.org/Specification/DDI-Lifecycle/3.2/XMLSchema/HighLevelDocumentation/DDI_Part_I_TechnicalDocument.pdf">Part I - Technical Documentation</A>
AUDIENCE: Developers, integrated usage and applications for content providers
Organized by related sets of objects, e.g. Question Item, Question Grid, and Question Block, this documentation provides details of the structure and its intended application. Each set contains examples of usage. It contains information on the relationship of DDI to other standards, common XML structures used by DDI, design and consistency rules, description of major structural types (modules and schemes), technical features for identification and reference, basic types for dates and strings, and all major complex elements. The complex element content is organized alphabetically by set and an index is provided for all elements. This documentation also contains lists of: 3.1 to 3.2 changes, all unique element and attribute names, and elements by extension base (Identifiable, Versionable, Maintainable, Reference, CodeValue, etc.).

<A HREF="http://www.ddialliance.org/Specification/DDI-Lifecycle/3.2/XMLSchema/HighLevelDocumentation/DDI_Part_II_UserGuide.pdf">Part II - User Guide</A>
AUDIENCE: Content providers, those focusing on specific applied uses of DDI
Provides instructions for navigating the HTML Field Level Documentation and reviews basic structural features focusing on their usage, such as exchange structures, organizing publication package content, managing data over time, common structure like strings, controlled vocabularies, dates, citation and coverage, notes and other material. This general section is followed by a set of user stories (applying DDI). The focus is on how the parts of DDI work together to describe the metadata and data for particular functions such as documenting a longitudinal study or developing a questionnaire. Wherever appropriate, Part II will reference the more detailed technical documentation in Part I.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ddi:instance:3_2" xmlns:a="ddi:archive:3_2" xmlns:cm="ddi:comparative:3_2" xmlns:c="ddi:conceptualcomponent:3_2" xmlns:d="ddi:datacollection:3_2" xmlns:ds="ddi:dataset:3_2"
           xmlns:dc="http://purl.org/dc/terms/" xmlns:pr="ddi:ddiprofile:3_2" xmlns:g="ddi:group:3_2" xmlns:m3="ddi:physicaldataproduct_ncube_inline:3_2" xmlns:l="ddi:logicalproduct:3_2" xmlns:m1="ddi:physicaldataproduct_ncube_normal:3_2"
           xmlns:p="ddi:physicaldataproduct:3_2" xmlns:pi="ddi:physicalinstance:3_2" xmlns:r="ddi:reusable:3_2" xmlns:s="ddi:studyunit:3_2" xmlns:m2="ddi:physicaldataproduct_ncube_tabular:3_2" xmlns:m4="ddi:physicaldataproduct_proprietary:3_2"
           targetNamespace="ddi:instance:3_2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:import namespace="ddi:archive:3_2" schemaLocation="archive.xsd"/>
	<xs:import namespace="ddi:comparative:3_2" schemaLocation="comparative.xsd"/>
	<xs:import namespace="ddi:conceptualcomponent:3_2" schemaLocation="conceptualcomponent.xsd"/>
	<xs:import namespace="ddi:datacollection:3_2" schemaLocation="datacollection.xsd"/>
	<xs:import namespace="ddi:dataset:3_2" schemaLocation="dataset.xsd"/>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
	<xs:import namespace="ddi:ddiprofile:3_2" schemaLocation="ddiprofile.xsd"/>
	<xs:import namespace="ddi:group:3_2" schemaLocation="group.xsd"/>
	<xs:import namespace="ddi:logicalproduct:3_2" schemaLocation="logicalproduct.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct:3_2" schemaLocation="physicaldataproduct.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct_ncube_inline:3_2" schemaLocation="physicaldataproduct_ncube_inline.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct_ncube_normal:3_2" schemaLocation="physicaldataproduct_ncube_normal.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct_ncube_tabular:3_2" schemaLocation="physicaldataproduct_ncube_tabular.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct_proprietary:3_2" schemaLocation="physicaldataproduct_proprietary.xsd"/>
	<xs:import namespace="ddi:physicalinstance:3_2" schemaLocation="physicalinstance.xsd"/>
	<xs:import namespace="ddi:reusable:3_2" schemaLocation="reusable.xsd"/>
	<xs:import namespace="ddi:studyunit:3_2" schemaLocation="studyunit.xsd"/>
	<xs:element name="DDIInstance" type="DDIInstanceType">
		<xs:annotation>
			<xs:documentation>DDIInstance is the top-level publication wrapper for any DDI document. All DDI content published as XML (with the exception of a Fragment intended for transmission) has DDIInstance as its top level structure. In addition to a citation and coverage statement for the instance, the DDIInstance can contain a Group, ResourcePackage, LocalHoldingPackage or StudyUnit.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FragmentInstance" type="FragmentInstanceType">
		<xs:annotation>
			<xs:documentation>A Fragment Instance is used to transfer maintainable or versionable objects plus any associated notes and other material in response to a query. TopLevelReference provides a record of the reference(s) (from the query) to which the FragmentInstance is responding. The contents of the maintainable and versionable objects are transported as ddi:Fragment entries.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DDIInstanceType">
		<xs:annotation>
			<xs:documentation>DDIInstance is the top-level publication wrapper for any DDI document. All DDI content published as XML (with the exception of a Fragment intended for transmission) has DDIInstance as its top level structure. In addition to a citation and coverage statement for the instance, the DDIInstance can contain a Group, ResourcePackage, LocalHoldingPackage or StudyUnit. Additional OtherMaterial content may be added but in general OtherMaterial should be listed in the maintainable object containing the objects the OtherMaterial is related to. The instance can provide an applicable DDIProfile either in-line or by reference and can contain overall translation information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="r:MaintainableType">
				<xs:sequence>
					<xs:element ref="r:Citation" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Citation for the Instance. Note that the citation is optional, because the DDI Instance may contain only reusable component pieces of metadata sets, which are not directly concerned with a single study or studies.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="r:Coverage" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This element contains descriptions of temporal, geographic and topical coverage. At the instance level these descriptions should be inclusive of the coverage of all modules in the instance. The element is available within individual modules and can be used to refine the coverage to that of the individual module.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="g:Group">
							<xs:annotation>
								<xs:documentation>A publication of a Group of StudyUnits in-line.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="r:GroupReference">
							<xs:annotation>
								<xs:documentation>A publication of a Group of StudyUnits by reference. TypeOfObject should be set to Group.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="g:ResourcePackage">
							<xs:annotation>
								<xs:documentation>A publication of a set of maintainables (modules or schemes) intended for reuse between studies in-line.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="r:ResourcePackageReference">
							<xs:annotation>
								<xs:documentation>A publication of a set of maintainables (modules or schemes) intended for reuse between studies by reference. TypeOfObject should be set to ResourcePackage.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="g:LocalHoldingPackage">
							<xs:annotation>
								<xs:documentation>A publication package containing a deposited publication as well as local value added or processing information in-line.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="r:LocalHoldingPackageReference">
							<xs:annotation>
								<xs:documentation>A publication package containing a deposited publication as well as local value added or processing information by reference. TypeOfObject should be set to LocalHoldingPackage.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="s:StudyUnit">
							<xs:annotation>
								<xs:documentation>A publication of a study unit representing the purpose, background, development, data capture, and data products related to a study in-line.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="r:StudyUnitReference">
							<xs:annotation>
								<xs:documentation>A publication of a study unit representing the purpose, background, development, data capture, and data products related to a study by reference. TypeOfObject should be set to StudyUnit.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element ref="r:OtherMaterial" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>External materials related to the DDI Instance that have not been included in any maintainables contained within the instance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="pr:DDIProfile">
							<xs:annotation>
								<xs:documentation>A DDIProfile applicable to the instance.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="r:DDIProfileReference">
							<xs:annotation>
								<xs:documentation>Inclusion of an existing DDIProfile by reference.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element ref="TranslationInformation" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TranslationInformation contains information about the translation of the content of the DDI Instance. This includes human-readable information about which language(s) are involved in the translation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FragmentInstanceType">
		<xs:annotation>
			<xs:documentation>A Fragment Instance is used to transfer maintainable or versionable objects plus any associated notes and other material in response to a query. TopLevelReference provides a record of the reference(s) (from the query) to which the FragmentInstance is responding. The contents of the maintainable and versionable objects are transported as ddi:Fragment entries. Child items, which are items included in the top level items by reference, may be provided as additional ddi:Fragment entries depending on the desired resolution depth. Be aware that within the DDI model all versionables must provide contextual information on the maintainable parent. When creating your web services you must be able to provide contextual information on the maintainable parent of a versionable object. The identification and reference structure provides the MaintainableObject structure to use in capturing this information if it is not provided by the URN structure of the versionable object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TopLevelReference" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>TopLevelReference is used to denote which items in the Fragment Instance are the specific results of a query or process. For example, if a user queries for a Variable, the response may include several items in the returned FragmentInstance: the Variable, several related Concepts, CodeLists, Questions, or other referenced items. In order to clarify which item is the main item in response to a query, a reference to that item can be specified as a TopLevelReference. Note that if a Identifiable object is being resolved, the query will be to the parent Versionable or Maintainable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Fragment" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A Fragment is a means of transporting a maintainable or versionable object plus any associated notes and other material. This item is repeated for each object included in the FragmentInstance. At minimum it should include the objects identified in TopLevelReference. Fragments for child objects of the items identified by a TopLevelReference may also be included. For a versionable object this requires information on the identification of its parent maintainable. This is considered to be administrative metadata and the addition of this metadata to an object does not cause it to version. The list of maintainables and versionables may occur in any order followed by associated notes and OtherMaterial.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TopLevelReference" type="r:ReferenceType">
		<xs:annotation>
			<xs:documentation>TopLevelReference is used to denote which items in the Fragment Instance are the specific results of a query or process. For example, if a user queries for a Variable, the response may include several items in the returned FragmentInstance: the Variable, several related Concepts, CodeLists, Questions, or other referenced items. In order to clarify which item is the main item in response to a query, a reference to that item can be specified as a TopLevelReference. Note that if a Identifiable object is being resolved, the query will be to the parent Versionable or Maintainable. TypeOfObject should be set to any Versionable or Maintainable object.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Fragment" type="FragmentType">
		<xs:annotation>
			<xs:documentation>A Fragment is a means of transporting a maintainable or versionable object plus any associated notes and other material.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FragmentType">
		<xs:annotation>
			<xs:documentation>A Fragment is a means of transporting a maintainable or versionable object plus any associated notes and other material. The list of maintainables and versionables may occur in any order followed by associated notes and OtherMaterial.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<!-- Maintainables -->
				<xs:element ref="a:Archive"/>
				<xs:element ref="l:BaseLogicalProduct"/>
				<xs:element ref="l:CategoryScheme"/>
				<xs:element ref="l:CodeList"/>
				<xs:element ref="l:CodeListScheme"/>
				<xs:element ref="cm:Comparison"/>
				<xs:element ref="c:ConceptScheme"/>
				<xs:element ref="c:ConceptualComponent"/>
				<xs:element ref="c:ConceptualVariableScheme"/>
				<xs:element ref="d:ControlConstructScheme"/>
				<xs:element ref="d:DataCollection"/>
				<xs:element ref="DDIInstance"/>
				<xs:element ref="pr:DDIProfile"/>
				<xs:element ref="c:GeographicLocationScheme"/>
				<xs:element ref="c:GeographicStructureScheme"/>
				<xs:element ref="g:Group"/>
				<xs:element ref="d:InstrumentScheme"/>
				<xs:element ref="d:InterviewerInstructionScheme"/>
				<xs:element ref="g:LocalGroupContent"/>
				<xs:element ref="g:LocalHoldingPackage"/>
				<xs:element ref="g:LocalResourcePackageContent"/>
				<xs:element ref="g:LocalStudyUnitContent"/>
				<xs:element ref="r:ManagedRepresentationScheme"/>
				<xs:element ref="l:NCubeScheme"/>
				<xs:element ref="a:OrganizationScheme"/>
				<xs:element ref="p:PhysicalDataProduct"/>
				<xs:element ref="pi:PhysicalInstance"/>
				<xs:element ref="p:PhysicalStructureScheme"/>
				<xs:element ref="d:ProcessingEventScheme"/>
				<xs:element ref="d:ProcessingInstructionScheme"/>
				<xs:element ref="r:QualityStatementScheme"/>
				<xs:element ref="d:QuestionScheme"/>
				<xs:element ref="p:RecordLayoutScheme"/>
				<xs:element ref="l:RepresentedVariableScheme"/>
				<xs:element ref="g:ResourcePackage"/>
				<xs:element ref="s:StudyUnit"/>
				<xs:element ref="c:UniverseScheme"/>
				<xs:element ref="l:VariableScheme"/>
				<!-- Versionables -->
				<xs:element ref="l:Category"/>
				<xs:element ref="l:CategoryGroup"/>
				<xs:element ref="cm:CategoryMap"/>
				<xs:element ref="l:CodeListGroup"/>
				<xs:element ref="d:ComputationItem"/>
				<xs:element ref="c:Concept"/>
				<xs:element ref="c:ConceptGroup"/>
				<xs:element ref="cm:ConceptMap"/>
				<xs:element ref="c:ConceptualVariable"/>
				<xs:element ref="c:ConceptualVariableGroup"/>
				<xs:element ref="d:ControlConstructGroup"/>
				<xs:element ref="l:DataRelationship"/>
				<xs:element ref="ds:DataSet"/>
				<xs:element ref="d:GeneralInstruction"/>
				<xs:element ref="d:GenerationInstruction"/>
				<xs:element ref="r:GeographicLocation"/>
				<xs:element ref="c:GeographicLocationGroup"/>
				<xs:element ref="r:GeographicStructure"/>
				<xs:element ref="c:GeographicStructureGroup"/>
				<xs:element ref="d:IfThenElse"/>
				<xs:element ref="a:Individual"/>
				<xs:element ref="d:Instruction"/>
				<xs:element ref="d:InstructionGroup"/>
				<xs:element ref="d:Instrument"/>
				<xs:element ref="d:InstrumentGroup"/>
				<xs:element ref="d:Loop"/>
				<xs:element ref="r:ManagedDateTimeRepresentation"/>
				<xs:element ref="r:ManagedMissingValuesRepresentation"/>
				<xs:element ref="r:ManagedNumericRepresentation"/>
				<xs:element ref="r:ManagedRepresentationGroup"/>
				<xs:element ref="r:ManagedScaleRepresentation"/>
				<xs:element ref="r:ManagedTextRepresentation"/>
				<xs:element ref="d:Methodology"/>
				<xs:element ref="l:NCube"/>
				<xs:element ref="l:NCubeGroup"/>
				<xs:element ref="m3:NCubeInstance"/>
				<xs:element ref="m1:NCubeInstance"/>
				<xs:element ref="m2:NCubeInstance"/>
				<xs:element ref="a:Organization"/>
				<xs:element ref="a:OrganizationGroup"/>
				<xs:element ref="p:PhysicalStructure"/>
				<xs:element ref="p:PhysicalStructureGroup"/>
				<xs:element ref="d:ProcessingEvent"/>
				<xs:element ref="d:ProcessingEventGroup"/>
				<xs:element ref="d:ProcessingInstructionGroup"/>
				<xs:element ref="r:QualityStatement"/>
				<xs:element ref="r:QualityStatementGroup"/>
				<xs:element ref="d:QuestionBlock"/>
				<xs:element ref="d:QuestionConstruct"/>
				<xs:element ref="d:QuestionGrid"/>
				<xs:element ref="d:QuestionGroup"/>
				<xs:element ref="d:QuestionItem"/>
				<xs:element ref="cm:QuestionMap"/>
				<xs:element ref="p:RecordLayout"/>
				<xs:element ref="m3:RecordLayout"/>
				<xs:element ref="m1:RecordLayout"/>
				<xs:element ref="m2:RecordLayout"/>
				<xs:element ref="m4:RecordLayout"/>
				<xs:element ref="p:RecordLayoutGroup"/>
				<xs:element ref="a:Relation"/>
				<xs:element ref="d:RepeatUntil"/>
				<xs:element ref="d:RepeatWhile"/>
				<xs:element ref="cm:RepresentationMap"/>
				<xs:element ref="l:RepresentedVariable"/>
				<xs:element ref="l:RepresentedVariableGroup"/>
				<xs:element ref="d:Sequence"/>
				<xs:element ref="d:StatementItem"/>
				<xs:element ref="g:SubGroup"/>
				<xs:element ref="c:SubUniverseClass"/>
				<xs:element ref="c:Universe"/>
				<xs:element ref="c:UniverseGroup"/>
				<xs:element ref="cm:UniverseMap"/>
				<xs:element ref="l:Variable"/>
				<xs:element ref="l:VariableGroup"/>
				<xs:element ref="cm:VariableMap"/>
				<xs:element ref="pi:VariableStatistics"/>
				<xs:element ref="d:Weighting"/>
			</xs:choice>
			<xs:element ref="r:Note" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Notes specific to the object within the fragment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:OtherMaterial" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>OtherMaterial associated with the object within the fragment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TranslationType">
		<xs:annotation>
			<xs:documentation>Provides the language of translation as well as a description of translation for the contents of the DDI Instance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Language" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Uses the more generic Language element found in a Citation. Allows for use of an external controlled vocabulary.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="I18n-text" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value of the language identifier used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="I18n-catalog" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the l18n catalog used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the translation process of the data and metadata</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="xml:lang">
			<xs:annotation>
				<xs:documentation>Language of the tag content.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="TranslationInformation" type="TranslationType">
		<xs:annotation>
			<xs:documentation>Provides the language of translation as well as a description of translation for the contents of the DDI Instance.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>