include/share/report_validation/premis_report.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
PREMIS validation report schema based on PREMIS version 2.2
See: http://www.loc.gov/standards/premis/
Juha Lehtonen 2014-03-26 : Initial version
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="info:lc/xmlns/premis-v2" targetNamespace="info:lc/xmlns/premis-v2" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:element name="premis" type="premisComplexType"/>

	<!-- Structure of the report -->
	<xs:complexType name="premisComplexType">
		<xs:sequence>
			<xs:element name="object" type="objectComplexType" maxOccurs="unbounded"/>
			<xs:element name="event" type="eventComplexType" maxOccurs="unbounded"/>
			<xs:element name="agent" type="agentComplexType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="version" type="versionSimpleType" use="required"/>
	</xs:complexType>

	<!-- PREMIS object type -->
	<xs:complexType name="objectComplexType" abstract="true"/>
	
	<!-- PREMIS representation object type -->
	<xs:complexType name="representation">
		<xs:complexContent>
			<xs:extension base="objectComplexType">
				<xs:sequence>
					<xs:element ref="objectIdentifier"/>
					<xs:element ref="originalName" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="environment" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="relationship" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- PREMIS object identifier type --> 
	<xs:complexType name="objectIdentifierComplexType">
		<xs:sequence>
			<xs:element ref="objectIdentifierType"/>
			<xs:element ref="objectIdentifierValue"/>
		</xs:sequence>
	</xs:complexType>

	<!-- original name type -->
	<xs:complexType name="originalNameComplexType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>

	<!-- environment-dependency structure -->
	<xs:complexType name="environmentComplexType">
		<xs:sequence>
			<xs:element ref="dependency"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dependencyComplexType">
		<xs:sequence>
			<xs:element ref="dependencyIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dependencyIdentifierComplexType">
		<xs:sequence>
			<xs:element ref="dependencyIdentifierType"/>
			<xs:element ref="dependencyIdentifierValue"/>
		</xs:sequence>
	</xs:complexType>

	<!-- relationship structure -->
	<xs:complexType name="relationshipComplexType">
		<xs:sequence>
			<xs:element ref="relationshipType"/>
			<xs:element ref="relationshipSubType"/>
			<xs:element ref="relatedObjectIdentification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="relatedObjectIdentificationComplexType">
		<xs:sequence>
			<xs:element ref="relatedObjectIdentifierType"/>
			<xs:element ref="relatedObjectIdentifierValue"/>
		</xs:sequence>
	</xs:complexType>


	<!-- event type -->
	<xs:complexType name="eventComplexType">
		<xs:sequence>
			<xs:element ref="eventIdentifier"/>
			<xs:element ref="eventType"/>
			<xs:element ref="eventDateTime"/>
			<xs:element ref="eventDetail"/>
			<xs:element ref="eventOutcomeInformation"/>
			<xs:element ref="linkingAgentIdentifier"/>
			<xs:element ref="linkingObjectIdentifier"/>
		</xs:sequence>
	</xs:complexType>

	<!-- PREMIS event identifier type -->
	<xs:complexType name="eventIdentifierComplexType">
		<xs:sequence>
			<xs:element ref="eventIdentifierType"/>
			<xs:element ref="eventIdentifierValue"/>
		</xs:sequence>
	</xs:complexType>

	<!-- PREMIS event outcome type -->
	<xs:complexType name="eventOutcomeInformationComplexType">
		<xs:sequence>
			<xs:element ref="eventOutcome"/>
			<xs:element ref="eventOutcomeDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventOutcomeDetailComplexType">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="eventOutcomeDetailNote"/>
				<xs:element ref="eventOutcomeDetailExtension" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:element ref="eventOutcomeDetailExtension"/>
		</xs:choice>
	</xs:complexType>

	<!-- types for linking PREMIS agent and PREMIS object in a PREMIS event -->
	<xs:complexType name="linkingObjectIdentifierComplexType">
		<xs:sequence>
			<xs:element ref="linkingObjectIdentifierType"/>
			<xs:element ref="linkingObjectIdentifierValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="linkingAgentIdentifierComplexType">
		<xs:sequence>
			<xs:element ref="linkingAgentIdentifierType"/>
			<xs:element ref="linkingAgentIdentifierValue"/>
		</xs:sequence>
	</xs:complexType>


	<!-- PREMIS agent type -->
	<xs:complexType name="agentComplexType">
		<xs:sequence>
			<xs:element ref="agentIdentifier"/>
			<xs:element ref="agentName"/>
			<xs:element ref="agentType"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- PREMIS agent identifier type -->
	<xs:complexType name="agentIdentifierComplexType">
		<xs:sequence>
			<xs:element ref="agentIdentifierType"/>
			<xs:element ref="agentIdentifierValue"/>
		</xs:sequence>
	</xs:complexType>
	

	<!-- elements for PREMIS object -->
	<xs:element name="objectIdentifier" type="objectIdentifierComplexType"/>
	<xs:element name="objectIdentifierType" type="objectIdentifierTypeSimpleType"/>
	<xs:element name="objectIdentifierValue" type="objectIdentifierValueSimpleType"/>
	<xs:element name="originalName" type="originalNameComplexType"/>
	<xs:element name="environment" type="environmentComplexType"/>
	<xs:element name="dependency" type="dependencyComplexType"/>
	<xs:element name="dependencyIdentifier" type="dependencyIdentifierComplexType"/>
	<xs:element name="dependencyIdentifierType" type="xs:string"/>
	<xs:element name="dependencyIdentifierValue" type="xs:string"/>
	<xs:element name="relationship" type="relationshipComplexType"/>
	<xs:element name="relationshipType" type="relationshipTypeSimpleType"/>
	<xs:element name="relationshipSubType" type="relationshipSubTypeSimpleType"/>
	<xs:element name="relatedObjectIdentification" type="relatedObjectIdentificationComplexType"/>
	<xs:element name="relatedObjectIdentifierType" type="objectIdentifierTypeSimpleType"/>
	<xs:element name="relatedObjectIdentifierValue" type="objectIdentifierValueSimpleType"/>

	<!-- elements for PREMIS event -->
	<xs:element name="eventIdentifier" type="eventIdentifierComplexType"/>
	<xs:element name="eventIdentifierType" type="eventIdentifierTypeSimpleType"/>
	<xs:element name="eventIdentifierValue" type="eventIdentifierValueSimpleType"/>
	<xs:element name="eventType" type="eventTypeSimpleType"/>
	<xs:element name="eventDateTime" type="xs:dateTime"/>
	<xs:element name="eventDetail" type="eventDetailSimpleType"/>
	<xs:element name="eventOutcomeInformation" type="eventOutcomeInformationComplexType"/>
	<xs:element name="eventOutcome" type="eventOutcomeSimpleType"/>
	<xs:element name="eventOutcomeDetail" type="eventOutcomeDetailComplexType"/>
	<xs:element name="eventOutcomeDetailNote" type="xs:string"/>
	<xs:element name="eventOutcomeDetailExtension" type="extensionComplexType"/>
	<xs:element name="linkingObjectIdentifier" type="linkingObjectIdentifierComplexType"/>
	<xs:element name="linkingObjectIdentifierType" type="objectIdentifierTypeSimpleType"/>
	<xs:element name="linkingObjectIdentifierValue" type="objectIdentifierValueSimpleType"/>
	<xs:element name="linkingAgentIdentifier" type="linkingAgentIdentifierComplexType"/>
	<xs:element name="linkingAgentIdentifierType" type="agentIdentifierTypeSimpleType"/>
	<xs:element name="linkingAgentIdentifierValue" type="agentIdentifierValueSimpleType"/>
	
	<!-- elements for PREMIS agent -->
	<xs:element name="agentIdentifier" type="agentIdentifierComplexType"/>
	<xs:element name="agentIdentifierType" type="agentIdentifierTypeSimpleType"/>
	<xs:element name="agentIdentifierValue" type="agentIdentifierValueSimpleType"/>
	<xs:element name="agentName" type="xs:string"/>
	<xs:element name="agentType" type="agentNameSimpleType"/>

	<!-- simple types for PREMIS objects -->
	<xs:simpleType name="objectIdentifierTypeSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pas-transfer-id"/>
			<xs:enumeration value="pas-sip-id"/>
			<xs:enumeration value="pas-sig-id"/>
			<xs:enumeration value="pas-mets-id"/>
			<xs:enumeration value="pas-object-id"/>
			<xs:enumeration value="pas-aip-id"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="objectIdentifierValueSimpleType">
		<xs:restriction base="xs:token">
			<xs:pattern value="pas-(transfer|sip-(.)+|sig|mets|object|aip)-[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="relationshipTypeSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="structural"/>
			<xs:enumeration value="derivation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="relationshipSubTypeSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="is included in"/>
			<xs:enumeration value="has source"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- simple types for PREMIS events -->
	<xs:simpleType name="eventIdentifierTypeSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pas-event-id"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eventIdentifierValueSimpleType">
		<xs:restriction base="xs:token">
			<xs:pattern value="pas-event-[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eventTypeSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="decompression"/>
			<xs:enumeration value="virus check"/>
			<xs:enumeration value="digital signature validation"/>
			<xs:enumeration value="fixity check"/>
			<xs:enumeration value="validation"/>
			<xs:enumeration value="creation"/>
			<xs:enumeration value="preservation responsibility change"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eventOutcomeSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="success"/>
			<xs:enumeration value="failure"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eventDetailSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Decompression of transferred ZIP file"/>
			<xs:enumeration value="Virus check of transferred files"/>
			<xs:enumeration value="SIP digital signature validation"/>
			<xs:enumeration value="Fixity check of digital objects in a SIP"/>
			<xs:enumeration value="METS schema validation"/>
			<xs:enumeration value="Additional METS validation of required features"/>
			<xs:enumeration value="Digital object validation"/>
			<xs:enumeration value="Validation compilation of a SIP"/>
			<xs:enumeration value="Creation of AIP"/>
			<xs:enumeration value="Preservation responsibility change to the DP system"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- simple types for PREMIS agents -->
	<xs:simpleType name="agentIdentifierTypeSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pas-agent-id"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="agentIdentifierValueSimpleType">
		<xs:restriction base="xs:token">
			<xs:pattern value="pas-agent-(.)+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="agentNameSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="software"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- simple type for PREMIS version -->
	<xs:simpleType name="versionSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2.2"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- External XML type -->
	<xs:complexType name="extensionComplexType">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
