include/etc/xml/addml_ra.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema 	xmlns="http://xml.ra.se/addml" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://xml.ra.se/addml" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified" 
		version="8.2.3">
	<xs:annotation>
		<xs:documentation xml:lang="sv">
			Detta är Riksarkivets anpassning av ADDML 8.2.
		</xs:documentation>
		<xs:documentation xml:lang="sv">
			Den enda skillnaden är versionsnumret (8.2.2) och att vi har ett eget namespace och targetNamespace.
		</xs:documentation>
		<xs:documentation xml:lang="sv">
			Kompletterat med värdelistor. Karin Bredenberg, Riksarkivet 2010-07-02
		</xs:documentation>
		<xs:documentation xml:lang="sv">Ny version 8.2.3. Karin Bredenberg, 2013-04-23</xs:documentation>
	</xs:annotation>
	<xs:element name="addml">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dataset" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="reference"/>
				<xs:sequence>
					<xs:element ref="flatFiles" minOccurs="0"/>
					<xs:element ref="dataObjects" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="context" minOccurs="0"/>
				<xs:element ref="content" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="context">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="additionalElements" minOccurs="0"/>
				<xs:element ref="processes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="additionalElements" minOccurs="0"/>
				<xs:element ref="processes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="flatFiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="flatFile" maxOccurs="unbounded"/>
				<xs:element ref="flatFileDefinitions"/>
				<xs:element ref="structureTypes"/>
				<xs:element ref="queries" minOccurs="0"/>
				<xs:element ref="processes" minOccurs="0"/>
				<xs:element ref="flatFileProcesses" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="flatFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="properties" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="definitionReference" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="flatFileDefinitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="flatFileDefinition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="flatFileDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="properties" minOccurs="0"/>
				<xs:element ref="external" minOccurs="0"/>
				<xs:element ref="recordDefinitionFieldIdentifier" minOccurs="0"/>
				<xs:element ref="recordDefinitions"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="typeReference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="external">
		<xs:complexType/>
	</xs:element>
	<xs:element name="recordDefinitionFieldIdentifier" type="xs:string"/>
	<xs:element name="recordDefinitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recordDefinition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recordDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="properties" minOccurs="0"/>
				<xs:element ref="recordDefinitionFieldValue" minOccurs="0"/>
				<xs:element ref="incomplete" minOccurs="0"/>
				<xs:element ref="fixedLength" minOccurs="0"/>
				<xs:element ref="repeatingGroups" minOccurs="0"/>
				<xs:element ref="keys" minOccurs="0"/>
				<xs:element ref="fieldDefinitions"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="typeReference" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="recordDefinitionFieldValue" type="xs:string"/>
	<xs:element name="incomplete">
		<xs:complexType/>
	</xs:element>
	<xs:element name="fixedLength" type="xs:nonNegativeInteger"/>
	<xs:element name="repeatingGroups">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="repeatingGroup" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="repeatingGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="repeatingGroupOccurrenceField"/>
					<xs:element ref="fixedOccurrences"/>
				</xs:choice>
				<xs:element ref="fieldDefinitionReferences"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="repeatingGroupOccurrenceField">
		<xs:complexType>
			<xs:attribute name="definitionReference" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fixedOccurrences" type="xs:nonNegativeInteger"/>
	<xs:element name="keys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="key" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="key">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="primaryKey"/>
					<xs:element ref="alternateKey"/>
					<xs:element ref="foreignKey"/>
				</xs:choice>
				<xs:element ref="fieldDefinitionReferences"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="primaryKey">
		<xs:complexType/>
	</xs:element>
	<xs:element name="alternateKey">
		<xs:complexType/>
	</xs:element>
	<xs:element name="foreignKey">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="flatFileDefinitionReference"/>
				<xs:element ref="relationType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="relationType" type="xs:string"/>
	<xs:element name="fieldDefinitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fieldDefinition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fieldDefinition">
		<xs:annotation>
			<xs:documentation xml:lang="sv">
				Lagt till en attributvärdeslista för typeReference. KB 2010-07-02
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="properties" minOccurs="0"/>
				<xs:element ref="startPos" minOccurs="0"/>
				<xs:element ref="endPos" minOccurs="0"/>
				<xs:element ref="fixedLength" minOccurs="0"/>
				<xs:element ref="minLength" minOccurs="0"/>
				<xs:element ref="maxLength" minOccurs="0"/>
				<xs:element ref="unique" minOccurs="0"/>
				<xs:element ref="notNull" minOccurs="0"/>
				<xs:element ref="fieldParts" minOccurs="0"/>
				<xs:element ref="codes" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="typeReference" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="date"/>
						<xs:enumeration value="filler"/>
						<xs:enumeration value="float"/>
						<xs:enumeration value="integer"/>
						<xs:enumeration value="packed_dec"/>
						<xs:enumeration value="rep_grupp_fixed"/>
						<xs:enumeration value="rep_grupp_var"/>
						<xs:enumeration value="string"/>
						<xs:enumeration value="zoned_dec"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="startPos" type="xs:nonNegativeInteger"/>
	<xs:element name="endPos" type="xs:nonNegativeInteger"/>
	<xs:element name="minLength" type="xs:nonNegativeInteger"/>
	<xs:element name="maxLength" type="xs:nonNegativeInteger"/>
	<xs:element name="unique">
		<xs:complexType/>
	</xs:element>
	<xs:element name="notNull">
		<xs:complexType/>
	</xs:element>
	<xs:element name="fieldParts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fieldDefinition" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="codes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="code">
		<xs:complexType>
			<xs:attribute name="codeValue" type="xs:string" use="required"/>
			<xs:attribute name="explan" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="structureTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="flatFileTypes"/>
				<xs:element ref="recordTypes" minOccurs="0"/>
				<xs:element ref="fieldTypes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="flatFileTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="flatFileType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="flatFileType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="charset"/>
				<xs:element ref="charDefinitions" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="fixedFileFormat"/>
					<xs:element ref="delimFileFormat"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="charset" type="xs:string"/>
	<xs:element name="charDefinitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charDefinition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charDefinition">
		<xs:complexType>
			<xs:attribute name="fromChar" type="xs:string" use="required"/>
			<xs:attribute name="toChar" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fixedFileFormat">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recordSeparator" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="delimFileFormat">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recordSeparator"/>
				<xs:element ref="fieldSeparatingChar"/>
				<xs:element ref="quotingChar" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fieldSeparatingChar" type="xs:string"/>
	<xs:element name="quotingChar" type="xs:string"/>
	<xs:element name="recordTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recordType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recordType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="trimmed" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="trimmed">
		<xs:complexType/>
	</xs:element>
	<xs:element name="fieldTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fieldType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fieldType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="dataType"/>
				<xs:element ref="fieldFormat" minOccurs="0"/>
				<xs:element ref="alignment" minOccurs="0"/>
				<xs:element ref="padChar" minOccurs="0"/>
				<xs:element ref="packType" minOccurs="0"/>
				<xs:element ref="nullValues" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataType" type="xs:string"/>
	<xs:element name="fieldFormat" type="xs:string"/>
	<xs:element name="alignment" type="xs:string"/>
	<xs:element name="padChar" type="xs:string"/>
	<xs:element name="packType" type="xs:string"/>
	<xs:element name="nullValues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nullValue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nullValue" type="xs:string"/>
	<xs:element name="queries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="query" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="query">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="statement"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="statement" type="xs:string"/>
	<xs:element name="flatFileProcesses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="processes" minOccurs="0"/>
				<xs:element ref="recordProcesses" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="flatFileReference" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="recordProcesses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="processes" minOccurs="0"/>
				<xs:element ref="fieldProcesses" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="definitionReference" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fieldProcesses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="processes"/>
			</xs:sequence>
			<xs:attribute name="definitionReference" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="processes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="process" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="process">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameters" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="flatFileDefinitionReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recordDefinitionReferences" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="recordDefinitionReferences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recordDefinitionReference" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recordDefinitionReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fieldDefinitionReferences" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fieldDefinitionReferences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fieldDefinitionReference" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fieldDefinitionReference">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataObjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="dataObject" maxOccurs="unbounded"/>
				<xs:element ref="processes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataObject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="properties" minOccurs="0"/>
				<xs:element ref="dataObjects" minOccurs="0"/>
				<xs:element ref="processes" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="additionalElements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="additionalElement" maxOccurs="unbounded"/>
				<xs:element ref="processes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="additionalElement">
		<xs:annotation>
			<xs:documentation xml:lang="sv">Lagt till en attributvärdeslista för name. KB 2010-07-02</xs:documentation>
			<xs:documentation xml:lang="se">Kompletterat värdelistan. Karin Bredenberg 2012-10-16</xs:documentation>
			<xs:documentation xml:lang="se">Kompletterat värdelistan. Karin Bredenberg 2013-04-23</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" minOccurs="0"/>
				<xs:element ref="properties" minOccurs="0"/>
				<xs:element ref="additionalElements" minOccurs="0"/>
				<xs:element ref="processes" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="accessionsid"/>
						<xs:enumeration value="addmlgenereradtid"/>
						<xs:enumeration value="addmlgenerator"/>
						<xs:enumeration value="arkivbildare"/>
						<xs:enumeration value="arkivkod"/>
						<xs:enumeration value="arkivnamn"/>
						<xs:enumeration value="batchid"/>
						<xs:enumeration value="diarienummer"/>
						<xs:enumeration value="epostkontaktperson"/>
						<xs:enumeration value="kalltyp"/>
						<xs:enumeration value="kontaktperson"/>
						<xs:enumeration value="kontaktpersonefaktura"/>
						<xs:enumeration value="kostnadsstalle"/>
						<xs:enumeration value="levererandemyndighet"/>
						<xs:enumeration value="projektkod"/>
						<xs:enumeration value="servicebyra"/>
						<xs:enumeration value="slutdatum"/>
						<xs:enumeration value="startdatum"/>
						<xs:enumeration value="system"/>
						<xs:enumeration value="systemkod"/>
						<xs:enumeration value="telefonkontaktperson"/>
						<xs:enumeration value="referenskodforanalogforlaga"/>
						<xs:enumeration value="ratypavaudiovisuelltmedium"/>
						<xs:enumeration value="katalogstruktur"/>
						<xs:enumeration value="klasspaket"/>
						<xs:enumeration value="handlingstyppaket"/>
						<xs:enumeration value="forvaringsenhetpaket"/>
						<xs:enumeration value="arkivreferens"/>
						<xs:enumeration value="klassificeringsstrukturnamn"/>
						<xs:enumeration value="klassreferens"/>
						<xs:enumeration value="handlingstypsreferens"/>
						<xs:enumeration value="forvaringsenhetsreferens"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dataType" type="xs:string"/>
			<xs:attribute name="format" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:annotation>
			<xs:documentation xml:lang="sv">Lagt till en attributvärdeslista för name. KB 2010-07-02</xs:documentation>
			<xs:documentation xml:lang="se">Kompletterat värdelistan. Karin Bredenberg 2012-10-03</xs:documentation>
			<xs:documentation xml:lang="se">Kompletterat värdelistan. Karin Bredenberg 2012-10-16</xs:documentation>
			<xs:documentation xml:lang="se">Kompletterat värdelistan. Karin Bredenberg 2013-04-30</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" minOccurs="0"/>
				<xs:element ref="properties" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="delpopulation"/>
						<xs:enumeration value="filstorlek"/>
						<xs:enumeration value="filtyp"/>
						<xs:enumeration value="innehallochtidpunkt"/>
						<xs:enumeration value="kallnamn"/>
						<xs:enumeration value="kommentar"/>
						<xs:enumeration value="maxvarde"/>
						<xs:enumeration value="minvarde"/>
						<xs:enumeration value="personregister"/>
						<xs:enumeration value="populationsbeskrivning"/>
						<xs:enumeration value="postantal"/>
						<xs:enumeration value="referenstid"/>
						<xs:enumeration value="schema"/>
						<xs:enumeration value="sekretessgrad"/>
						<xs:enumeration value="sokvag"/>
						<xs:enumeration value="speltid"/>
						<xs:enumeration value="teckenuppsattning"/>
						<xs:enumeration value="underpostTill"/>
						<xs:enumeration value="uppgiftersursprung"/>
						<xs:enumeration value="uppgiftskalla"/>
						<xs:enumeration value="variabelnamn"/>
						<xs:enumeration value="version"/>
						<xs:enumeration value="xslt"/>
						<xs:enumeration value="css"/>
						<xs:enumeration value="titel"/>
						<xs:enumeration value="plats"/>
						<xs:enumeration value="tidpunkt"/>
						<xs:enumeration value="beskrivning"/>
						<xs:enumeration value="upphovsman"/>
						<xs:enumeration value="rattigheter"/>
						<xs:enumeration value="tillhorandeRegister"/>
						<xs:enumeration value="relationTill"/>
						<xs:enumeration value="visualCodingName"/>
						<xs:enumeration value="visualFormatVersion"/>
						<xs:enumeration value="visualBitrateMode"/>
						<xs:enumeration value="visualCodingBitrate"/>
						<xs:enumeration value="bilddimension"/>
						<xs:enumeration value="aspectRatio"/>
						<xs:enumeration value="audioCodingName"/>
						<xs:enumeration value="audioFormatVersion"/>
							<xs:enumeration value="audioBitrateMode"/>
							<xs:enumeration value="audioCodingBitrate"/>
							<xs:enumeration value="audioChannels"/>
							<xs:enumeration value="audioBitsPerSample"/>
							<xs:enumeration value="samplingsFrequency"/>
						<xs:enumeration value="bildhojd"/>
						<xs:enumeration value="bildbredd"/>
						<xs:enumeration value="klassfil"/>
						<xs:enumeration value="handlingstypfil"/>
						<xs:enumeration value="forvaringsenhetfil"/>
						<xs:enumeration value="klassreferens"/>
						<xs:enumeration value="handlingstypsreferens"/>
						<xs:enumeration value="forvaringsenhetsreferens"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dataType" type="xs:string"/>
			<xs:attribute name="format" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="recordSeparator" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
</xs:schema>
